<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web gelistirici sitesi</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <form action="#" class="formClass">
        <h1>Login</h1>
       

        </div>
        <label for="email">Email</label>

        <div>
            <i class="fa-solid fa-envelope"></i>

            <input type="email" id="email" placeholder="email">

        </div>
        <label for="pass">Password</label>

        <div>
            <i class="fa-solid fa-key"></i>

            <input type="password" id="password" placeholder="password">
            <div>
                
                <div class="remember-forget">
                <label><input type="checkbox"> Remember me</label>
              <a href="#">Forget password?</a>
      
            </div>

                <button type="submit">Login</button>
                
                 <div class="Register-link">
                  <p>Don't have e account? <a href="#">Register</a></p>
                </div>
    </form>

</body>

</html>
